@media (min-width:1212px) {
    .container {
        width: 1212px
    }
}
@media (min-width:768px) {
    .col-sm-1,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9 {
        float: left
    }
    .col-sm-12 {
        width: 100%
    }
    .col-sm-11 {
        width: 91.66666667%
    }
    .col-sm-10 {
        width: 83.33333333%
    }
    .col-sm-9 {
        width: 75%
    }
    .col-sm-8 {
        width: 66.66666667%
    }
    .col-sm-7 {
        width: 58.33333333%
    }
    .col-sm-6 {
        width: 50%
    }
    .col-sm-5 {
        width: 41.66666667%
    }
    .col-sm-4 {
        width: 33.33333333%
    }
    .col-sm-3 {
        width: 25%
    }
    .col-sm-2 {
        width: 16.66666667%
    }
    .col-sm-1 {
        width: 8.33333333%
    }
    .col-sm-push-12 {
        left: 100%
    }
    .col-sm-push-11 {
        left: 91.66666667%
    }
    .col-sm-push-10 {
        left: 83.33333333%
    }
    .col-sm-push-9 {
        left: 75%
    }
    .col-sm-push-8 {
        left: 66.66666667%
    }
    .col-sm-push-7 {
        left: 58.33333333%
    }
    .col-sm-push-6 {
        left: 50%
    }
    .col-sm-push-5 {
        left: 41.66666667%
    }
    .col-sm-push-4 {
        left: 33.33333333%
    }
    .col-sm-push-3 {
        left: 25%
    }
    .col-sm-push-2 {
        left: 16.66666667%
    }
    .col-sm-push-1 {
        left: 8.33333333%
    }
    .col-sm-push-0 {
        left: 0
    }
    .col-sm-offset-12 {
        margin-left: 100%
    }
    .col-sm-offset-11 {
        margin-left: 91.66666667%
    }
    .col-sm-offset-10 {
        margin-left: 83.33333333%
    }
    .col-sm-offset-9 {
        margin-left: 75%
    }
    .col-sm-offset-8 {
        margin-left: 66.66666667%
    }
    .col-sm-offset-7 {
        margin-left: 58.33333333%
    }
    .col-sm-offset-6 {
        margin-left: 50%
    }
    .col-sm-offset-5 {
        margin-left: 41.66666667%
    }
    .col-sm-offset-4 {
        margin-left: 33.33333333%
    }
    .col-sm-offset-3 {
        margin-left: 25%
    }
    .col-sm-offset-2 {
        margin-left: 16.66666667%
    }
    .col-sm-offset-1 {
        margin-left: 8.33333333%
    }
    .col-sm-offset-0 {
        margin-left: 0
    }
}
@media (max-width:1199px) {
    .row {
        margin-top: -3em
    }
    .row>* {
        margin-top: 3em
    }
}
@media (max-width:767px) {
    .gem-button-size-large {
        height: 50px;
        line-height: 50px;
        padding: 0 25px;
        font-size: 19px;
        margin: 30px
    }
    .gem-button.gem-button-empty.gem-button-size-large {
        width: 50px
    }
    .gem-button-size-large.gem-button-border-1 {
        line-height: 48px
    }
    .gem-button-size-large.gem-button-border-3 {
        line-height: 44px
    }
    .gem-button-size-large.gem-button-border-4 {
        line-height: 42px
    }
    .gem-button-size-large.gem-button-border-5 {
        line-height: 40px
    }
    .gem-button-size-large.gem-button-border-6 {
        line-height: 38px
    }
}
@media (max-width:1211px) {
    .top-area-items {
        text-align: center
    }
}
@media (max-width:1211px) {
    .top-area-contacts:after,
    .top-area-socials:after {
        display: none
    }
}
@media (max-width:979px) {
    #site-header .primary-navigation .menu-item-logo {
        display: none
    }
}

@media (max-width:768px) {
    #site-header .logo-position-menu_center.header-main>.site-title {
        display: table-cell
    }
}
@media (min-width:768px) {
    #site-header .logo-position-center .primary-navigation,
    #site-header .logo-position-center .site-title {
        display: block;
        text-align: center
    }
    #site-header .logo-position-center .site-title {
        padding-top: 40px;
        padding-bottom: 10px
    }
}
@media (min-width:1400px) and (max-width:1600px) {
    #page.vertical-header {
        padding-left: 300px
    }
    #page.vertical-header #site-header-wrapper {
        margin-left: 0
    }
    #page.vertical-header #site-header-wrapper .header-main {
        display: block;
        visibility: visible
    }
}
@media (min-width:1600px) {
    #page.vertical-header {
        padding-left: 300px
    }
    #page.vertical-header #site-header-wrapper {
        margin-left: 0
    }
    #page.vertical-header #site-header-wrapper .header-main {
        display: block;
        visibility: visible
    }
}
@media (max-width:767px) {
    #site-header .container-fullwidth {
        padding-left: 21px;
        padding-right: 21px
    }
}
@media (min-width:1400px) {
    #page.vertical-header .vertical-toggle {
        display: none
    }
}
@media (max-width:767px) {
    #page.vertical-header .vertical-toggle {
        display: none
    }
    #page.vertical-header {
        padding-left: 0
    }
    #page.vertical-header #site-header-wrapper {
        margin-left: 0
    }
    #page.vertical-header #site-header-wrapper .header-main {
        display: table;
        visibility: visible
    }
}
@media (max-width:767px) {
    #site-header .header-main {
        position: relative;
        display: table;
        width: 100%;
        z-index: 11
    }
    #primary-navigation .menu-toggle {
        display: inline-block
    }
}
@media (max-width:767px) {
    #primary-navigation .menu-toggle .menu-line-1,
    #primary-navigation .menu-toggle .menu-line-2,
    #primary-navigation .menu-toggle .menu-line-3 {
        height: 3px;
        width: 26px;
        left: 5px
    }
    #primary-navigation .menu-toggle .menu-line-1 {
        top: 6px
    }
    #primary-navigation .menu-toggle .menu-line-3 {
        top: 20px
    }
}
@media (max-width:767px) {
    .mobile-menu-layout-default .primary-navigation .dl-menu {
        position: absolute;
        left: 0;
        right: 0;
        opacity: 0
    }
    .mobile-menu-layout-slide-horizontal #primary-navigation:not(.responsive) .mobile-menu-slide-wrapper,
    .mobile-menu-layout-slide-vertical #primary-navigation:not(.responsive) .mobile-menu-slide-wrapper {
        visibility: hidden;
        height: 0
    }
}
@media (max-width:991px) {
    #footer-nav #footer-socials {
        text-align: center
    }
    #footer-nav .footer-site-info {
        text-align: center
    }
    #footer-navigation #footer-menu li {
        margin: 5px 0
    }
}
@media (min-width:768px) {
    .wpb-js-composer .vc_tta.vc_general.vc_tta-shape-square.vc_tta-tabs .vc_tta-panels {
        border-radius: 0
    }
}
@media (min-width:768px) {
    .wpb-js-composer .vc_tta.vc_general.vc_tta-shape-rounded.vc_tta-tabs .vc_tta-panels {
        border-radius: 3px
    }
}
@media (min-width:768px) {
    .wpb-js-composer .vc_tta.vc_general.vc_tta-shape-round.vc_tta-tabs .vc_tta-panels {
        border-radius: 18px
    }
}
@media (min-width:768px) {
    .wpb-js-composer .vc_tta-shape-rounded.vc_tta-tabs .vc_tta-panel-body::after,
    .wpb-js-composer .vc_tta-shape-rounded.vc_tta-tabs .vc_tta-panel-body::before {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 3px;
        border-style: inherit;
        border-width: inherit
    }
}
@media (min-width:768px) {
    .wpb-js-composer .vc_tta-shape-round.vc_tta-tabs .vc_tta-panel-body::after,
    .wpb-js-composer .vc_tta-shape-round.vc_tta-tabs .vc_tta-panel-body::before {
        box-sizing: border-box;
        content: '';
        display: none;
        position: absolute;
        width: 18px;
        height: 18px;
        border-radius: 18px;
        border-style: inherit;
        border-width: inherit
    }
    .wpb-js-composer .vc_tta.vc_tta-shape-round.vc_tta-tabs .vc_tta-panel-body::after,
    .wpb-js-composer .vc_tta.vc_tta-shape-round.vc_tta-tabs .vc_tta-panel-body::before {
        width: 18px;
        height: 18px;
        border-radius: 18px
    }
}
@media (max-width:768px) {
    .gem-icon-with-text>.gem-icon-with-text-icon {
        display: block;
        text-align: center;
        padding: 0 0 10px;
        padding-right: 0!important
    }
    .gem-icon-with-text.centered-box>.gem-icon-with-title+.gem-icon-with-text-content,
    .gem-icon-with-text>.gem-icon-with-text-content {
        display: block;
        width: auto;
        text-align: center
    }
    .gem-icon-with-text>.gem-icon-with-title+.gem-icon-with-text-content {
        text-align: left
    }
}
@media (max-width:992px) {
    .gem-map-with-text-content {
        position: relative;
        top: auto;
        left: auto;
        width: auto
    }
}
@media (max-width:768px) {
    .vc_separator .vc_sep_text {
        white-space: normal;
        text-align: center
    }
}
@media (max-width:768px) {
    .scroll-top-button {
        right: 0
    }
}
@media (min-width:1212px) {
    body:not(.compose-mode) #page .half-width-map {
        position: absolute;
        top: 0;
        height: 100%;
        left: 50%;
        right: 0;
        width: auto
    }
    body:not(.compose-mode) #page .half-width-map .vc_column-inner {
        padding: 0
    }
}
@media (max-width:500px) {
    .vc_sep_holder {
        display: none;
        text-align: left
    }
    body .vc_separator.vc_separator_align_center h4 {
        padding: 0
    }
}
@media (max-width:768px) {
    ​.site-title .site-logo {
        max-width: 60vw
    }
}
@media (max-width:767px) {
    #site-header .menu-item-logo a img.default,
    #site-header .site-title a img.default {
        display: none
    }
    #site-header .menu-item-logo a img.small,
    #site-header .site-title a img.small {
        -moz-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
        display: inline-block!important;
        margin: 0!important
    }
    #site-header .menu-item-logo a img.small.light,
    #site-header .site-title a img.small.light {
        display: inline-block!important
    }
    #site-header .menu-item-logo a img.small.light+img.small,
    #site-header .site-title a img.small.light+img.small {
        display: none!important
    }
}
@media (max-width:767px) {
    #page.vertical-header #site-header-wrapper {
        position: static;
        width: 100%;
        padding: 0
    }
    #page.vertical-header {
        padding-left: 0
    }
    #page.vertical-header #site-header .site-title {
        display: table-cell
    }
    .vertical-menu-item-widgets {
        display: none
    }
}
@media (max-height:799px) {
    .header-style-vertical #primary-menu.no-responsive>.menu-item-language {
        display: none
    }
}

@media (max-height:689px) {
    .vertical-menu-item-widgets {
        display: none
    }
}
@media (max-width:755px) {
    .blog-style-default .post-meta-right,
    .single-post-meta .post-meta-right {
        margin-left: 30px
    }
}
@media (max-width:768px) {
    .wpcf7-form td {
        float: left;
        width: 100%;
        text-align: center
    }
}
@media (max-width:600px) {
    body .vc_separator.vc_sep_double {
        height: auto!important
    }
}

@media (max-width:1024px) {
    .fullwidth-block.fullwidth-block-parallax-vertical {
        background-attachment: scroll
    }
}
